/* Styles for CampaignConfigurationPredefinedParams component */

.appliedConfigCard {
	padding: var(--mantine-spacing-lg);
	background-color: var(--mantine-color-gray-0);
	border: 1px solid var(--mantine-color-gray-3);
	border-radius: var(--mantine-radius-md);
}

.checkIconCircle {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 48px;
	height: 48px;
	min-width: 48px;
	min-height: 48px;
	border-radius: 50%;
	background-color: var(--mantine-color-teal-6);
	color: white;
}

.emptyConfigCard {
	padding: var(--mantine-spacing-lg);
	background-color: var(--mantine-color-gray-0);
	border: 1px solid var(--mantine-color-gray-3);
	border-radius: var(--mantine-radius-md);
}
