.tableContainer {
	overflow-x: auto;
	background-color: var(--mantine-color-white);
	border: 1px solid var(--mantine-color-gray-2);
	border-radius: var(--mantine-radius-md);
}

.table {
	min-width: 1000px;
}

.table thead tr th {
	font-weight: 600;
	font-size: var(--mantine-font-size-sm);
	color: var(--mantine-color-dark-6);
	background-color: var(--mantine-color-gray-0);
}

.emptyState {
	min-height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
}
