:global(.BaseTable__scrollContainer) table {
	table-layout: fixed;
	width: 100%;
}

:global(.BaseTable__scrollContainer) th:nth-child(1),
:global(.BaseTable__scrollContainer) td:nth-child(1) {
	width: 120px;
	word-break: break-word;
}

:global(.BaseTable__scrollContainer) th:nth-child(2),
:global(.BaseTable__scrollContainer) td:nth-child(2) {
	width: 200px;
	word-break: break-word;
}

:global(.BaseTable__scrollContainer) th:nth-child(3),
:global(.BaseTable__scrollContainer) td:nth-child(3) {
	width: 100px;
}

:global(.BaseTable__scrollContainer) th:nth-child(4),
:global(.BaseTable__scrollContainer) td:nth-child(4) {
	width: 180px;
	word-break: break-word;
}

:global(.BaseTable__scrollContainer) th:nth-child(5),
:global(.BaseTable__scrollContainer) td:nth-child(5) {
	width: 120px;
}

:global(.BaseTable__scrollContainer) th:nth-child(6),
:global(.BaseTable__scrollContainer) td:nth-child(6) {
	width: 120px;
}

:global(.BaseTable__scrollContainer) th:nth-child(7),
:global(.BaseTable__scrollContainer) td:nth-child(7) {
	width: 80px;
}

.actions {
	pointer-events: auto;
}

.row {
	cursor: pointer;

	&:hover {
		background-color: var(--mantine-color-gray-1);
	}
}

@media (prefers-color-scheme: dark) {
	.row {
		&:hover {
			background-color: var(--mantine-color-dark-7);
		}
	}
}
