.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: var(--mantine-spacing-xs);
	background-color: var(--mantine-color-gray-0);
	border-bottom: 1px solid var(--mantine-color-gray-2);
	padding: 4px calc(var(--mantine-spacing-md) + 2px);
	width: 100%;
}

.titleGroup {
	display: flex;
	align-items: center;
	gap: var(--mantine-spacing-xs);
	min-width: 0;
}

.iconWrapper {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 24px;
	border-radius: var(--mantine-radius-md);
	background-color: var(--mantine-color-white);
	border: 1px solid var(--mantine-color-gray-3);
	color: var(--mantine-color-gray-7);
	flex-shrink: 0;
}

.title {
	color: var(--mantine-color-gray-9);
}
