.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: var(--mantine-spacing-xs);
	background-color: var(--mantine-color-gray-0);
	border-bottom: 1px solid var(--mantine-color-gray-3);
	padding: 7px var(--mantine-spacing-sm);
	width: 100%;
}

.dragHandle {
	cursor: grab;
	user-select: none;
}

.dragHandle:active {
	cursor: grabbing;
}

.titleGroup {
	display: flex;
	align-items: center;
	gap: var(--mantine-spacing-xs);
	min-width: 0;
	flex: 1;
}

.titleCopy {
	display: flex;
	flex-direction: column;
	gap: 1px;
	min-width: 0;
}

.iconWrapper {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 24px;
	border-radius: var(--mantine-radius-lg);
	background-color: var(--mantine-color-white);
	border: 1px solid var(--mantine-color-gray-2);
	color: var(--mantine-color-gray-8);
	flex-shrink: 0;
}

.title {
	color: var(--mantine-color-gray-9);
	font-weight: 600;
}

.subtitle {
	color: var(--mantine-color-gray-5);
	line-height: 1.1;
}

.rightSection {
	display: inline-flex;
	align-items: center;
	gap: 4px;
	flex-shrink: 0;
}
