# General Code Style & Formatting

- Follow the Airbnb Style Guide for all code formatting.
- Name React component files using PascalCase (e.g., `UserCard.tsx`, not `user-card.tsx`).
- Use named exports for all components.
- Each component must be isolated in its own folder. The folder and the main component file should both use the component name. Include an `index.ts` file in the folder to export the component as the default export.
- No matter the prompt language used by the user, the code should be written in English.

# Project Structure & Architecture

- The project uses React Router v7.
  We MUST use them over anything else of custom components. If a core component does not exist, they need to be created in a file inside that folder.

- This project is using Tanstack Query for data fetching and caching.
- We need this structure:
  ```
  src
  ├── components
  │   ├── ComponentName
  │   │   ├── ComponentName.tsx
  │   │   ├── ComponentName.module.css
  │   │   └── index.ts
  ├── hooks
  ├── pages
  ├── modules
  │   ├── module_name
  │   │   ├── ModulePage
  │   │   │   ├── ModulePage.module.css
  │   │   │   ├── ModulePage.tsx
  │   │   │   └── index.ts
  │   │   ├── queries
  │   │   │   └── moduleNameQueries.ts
  ├── routes
  │   ├── route_name.tsx // This route will have loader/actions and could have a component that will inject the module.
  ├── api
  │   ├── moduleApi.ts // This file will contain the base API client and the API functions.
  ├── models // contains all the types and interfaces
  └── utils
  ```

# Styling & UI

- Use Mantine UI, V8. Search on internet whenever is required to get the latest implementation without breaking changes. component.
- Every style should be place within a .module.css with the name of the component.
- Prefer light mode for anything.
- Css Style MUST be preferred vs inline styling or component props.
- Use `@tabler/icons-react` for all icons.
- Use var(--mantine-xxx) to apply all the mantine properties in CSS files instead of defining your own styles/colors, etc..

# Data Fetching & Forms

- Use React Hook Form for form handling.

# State Management & Logic

- Use Zustand for state management.
- Use Tanstack React Query for data fetching and caching.
- Use Action/Loader and Fetcher for data fetching in some cases.
