.DS_Store
/node_modules/
# React Router
/.react-router/
/build/
/plan/
/dist/
/coverage/
.next/
.turbo/
.cache/
/.cache/
/.env
/.env.*
/.idea/
/.parcel-cache/
/.eslintcache
/.pnp*
/.yarn/
/.npm/
/.output/
/.vercel/
/.svelte-kit/
/.svelte/
/.sass-cache/
/.tmp/
/.temp/
/.DS_Store
Thumbs.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.local
*.log
*.tsbuildinfo
*.swp
*.swo
*.orig
*.bak
*.tmp
*.pid
*.seed
*.pid.lock
.env
package-lock.json
