.iconWrapper {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 72px;
	height: 72px;
	border-radius: 999px;
	background-color: color-mix(
		in srgb,
		var(--mantine-color-red-6) 8%,
		transparent
	);
	color: var(--mantine-color-red-6);
}

.description {
	max-width: 560px;
}
