.modalContainer {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.uploadArea {
	border: 1px dashed var(--mantine-color-gray-4);
	padding: 32px 16px;
	border-radius: 6px;
	cursor: pointer;
	text-align: center;
	background-color: var(--mantine-color-gray-0);
	transition: background-color 150ms ease;
}

.dragActive {
	background-color: var(--mantine-color-blue-0);
	border-color: var(--mantine-color-blue-5);
}

.uploadLabel {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4px;
}
