.contentContainer {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100vh;
	background: var(--mantine-color-body);
}

.contentContainerMain {
	flex: 1 1 0;
	background: var(--mantine-color-body);
	padding: var(--mantine-spacing-xs) var(--mantine-spacing-lg);
	min-width: 0;
	display: flex;
	flex-direction: column;
	height: calc(100vh - 70px);
	position: relative;
}

.contentContainerHeader {
	padding: var(--mantine-spacing-md);
	padding-bottom: 0;
}

.contentContainerDivider {
	border-color: var(--mantine-color-gray-2);
}

.contentContainerContent {
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	overscroll-behavior: contain;
	min-height: 0;
	height: 100%;
	margin-top: var(--mantine-spacing-xs);
	padding-left: var(--mantine-spacing-xs);
	padding-right: var(--mantine-spacing-xs);
}

.contentContainerNoMainScroll {
	overflow: hidden;
	/* disable scroll when we only want right section scrolling */
	height: auto;
}

.contentContainerContent [role='tabpanel'] {
	margin-top: var(--mantine-spacing-md);
	padding-top: var(--mantine-spacing-md);
}

.contentContainerRightSection {
	width: 380px;
	background: var(--mantine-color-gray-1);
	border-left: 1px solid var(--mantine-color-gray-3);
	padding: 0;
	height: calc(100vh - 70px);
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	flex-shrink: 0;
}

.contentContainerRightSection > :first-child {
	padding: 16px 16px;
	flex-shrink: 0;
	background: var(--mantine-color-gray-1);
	border-bottom: 1px solid var(--mantine-color-gray-3);
}

.contentContainerRightSection > :last-child {
	flex: 1;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	overscroll-behavior: contain;
	padding: 0;
	margin-top: 12px;
	min-height: 0;
}
