.card {
  background: var(--mantine-color-white);
  border: 1px solid var(--mantine-color-gray-3);
  border-radius: var(--mantine-radius-md);
  padding: var(--mantine-spacing-sm);
  height: fit-content;
}

.content {
  width: 100%;
  align-items: center;
}

.label {
  font-size: var(--mantine-font-size-xs);
  color: var(--mantine-color-gray-6);
  margin-bottom: 2px;
}

.select {
  font-weight: 500;
  font-size: var(--mantine-font-size-sm);
}

.changeButton {
  color: var(--mantine-color-blue-6);
  font-weight: 500;
}
