html,
body,
#root {
	min-height: 100dvh;
}

body {
	margin: 0;
	background: var(--mantine-color-body);
	color: var(--mantine-color-text);
	letter-spacing: -0.011em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}
