.body {
	display: flex;
	flex-direction: column;
	gap: var(--mantine-spacing-md);
}

.messageBody {
	background: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
	border: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-5));
	border-radius: var(--mantine-radius-md);
	padding: var(--mantine-spacing-sm);
	white-space: pre-wrap;
	word-break: break-word;
}
