.form {
	display: flex;
	flex-direction: column;
	gap: var(--mantine-spacing-xs);
}

.label {
	font-size: var(--mantine-font-size-sm);
	font-weight: 600;
	color: var(--mantine-color-gray-9);
}

.description {
	font-size: var(--mantine-font-size-xs);
	color: var(--mantine-color-gray-6);
}

.switchRoot {
	margin-top: var(--mantine-spacing-xs);
}

.switchBody {
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

.input {
	font-size: var(--mantine-font-size-sm);
}

.textarea {
	font-size: var(--mantine-font-size-sm);
}
