.node {
	--workflow-node-accent: var(--mantine-color-red-7);
	min-width: 140px;
	text-align: left;
}

.icon {
	color: var(--mantine-color-red-7);
}

.header {
	min-height: 48px;
}

.footer {
	background-color: var(--mantine-color-white);
	border-top: 1px solid var(--mantine-color-gray-3);
	padding: 4px var(--mantine-spacing-sm);
	display: flex;
	justify-content: flex-end;
}
