.label {
	background-color: var(--mantine-color-dark-9);
	border-radius: 999px;
	color: var(--mantine-color-white);
	font-size: var(--mantine-font-size-xs);
	font-weight: 500;
	line-height: 1;
	max-width: 160px;
	overflow: hidden;
	padding: 4px 8px;
	text-overflow: ellipsis;
	white-space: nowrap;
	pointer-events: none;
	transform-origin: center;
}

.labelPrefix {
	margin-right: 6px;
	opacity: 0.8;
}
