.node {
	--workflow-node-accent: var(--mantine-color-indigo-7);
	min-width: 160px;
	text-align: left;
}

.error {
	--workflow-node-accent: var(--mantine-color-red-7);
	border-color: var(--mantine-color-red-4);
	background-color: var(--mantine-color-white);
}

.icon {
	color: var(--mantine-color-indigo-7);
}

.header {
}

.destination {
	padding: 8px var(--mantine-spacing-sm);
	font-family: var(--mantine-font-family-monospace);
	font-size: 11px;
	background-color: var(--mantine-color-white);
	border-bottom: 1px solid var(--mantine-color-gray-2);
	color: var(--mantine-color-gray-8);
}

.footer {
	background-color: var(--mantine-color-gray-0);
	border-top: 1px solid var(--mantine-color-gray-2);
	padding: 6px var(--mantine-spacing-sm);
	display: flex;
	justify-content: flex-end;
}
