.form {
	padding: var(--mantine-spacing-xs) 0;
}

.label {
	font-weight: 500;
	margin-bottom: 4px;
	color: var(--mantine-color-gray-7);
}

.input {
	border-color: var(--mantine-color-gray-2);
}

.segmentedRoot {
	background-color: transparent;
	padding: 0;
	border: 1px solid var(--mantine-color-gray-2);
}

.segmentedIndicator {
	border: 1.5px solid var(--mantine-color-black);
	background-color: transparent;
	box-shadow: none;
}

.segmentedLabel {
	font-weight: 500;
	color: var(--mantine-color-gray-6);
	transition: color 0.2s ease;
}

.segmentedLabel[data-active] {
	color: var(--mantine-color-black);
}

.inlineBadge {
	background-color: var(--mantine-color-blue-6);
	color: white;
	padding: 0 4px;
	border-radius: 4px;
	font-size: 9px;
	font-weight: 700;
	text-transform: uppercase;
}

.addHeaderBtn {
	border-style: dashed;
	background-color: var(--mantine-color-gray-0);
	color: var(--mantine-color-gray-7);
}

.description {
	font-size: var(--mantine-font-size-xs);
	color: var(--mantine-color-gray-6);
	margin-top: 2px;
}
