.node {
	background-color: var(--mantine-color-white);
	border: 1px solid var(--mantine-color-gray-3);
	border-radius: var(--mantine-radius-md);
	min-width: 140px;
	text-align: left;
	transition:
		border-color 0.14s ease,
		background-color 0.14s ease;
	overflow: hidden;
}

.node:hover {
	border-color: var(--mantine-color-gray-4);
}

.icon {
	color: var(--mantine-color-green-7);
}

.header {
}

.footer {
	background-color: var(--mantine-color-white);
	border-top: 1px solid var(--mantine-color-gray-3);
	padding: 4px var(--mantine-spacing-sm);
	display: flex;
	justify-content: flex-end;
}
